# Calculate number of predicted events

In [1]:
%load_ext autoreload
%autoreload 2

import os
os.chdir("../")

import sys
sys.path.insert(1, 'src/')

In [2]:
import abel_heap
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

plt.rcParams["figure.figsize"] = (10,10)
plt.rcParams['font.size'] = 22
plt.rcParams['axes.labelpad'] = 20

# BTW model

## Number of events by a given $p$ and $\gamma=2.93$ in BTW model

In [22]:
def calculate_number_of_events(LS, TS, PERCENTS_ETA, gamma, model):
    number_of_events = {}
    
    for L in LS:
        ETAs = []
        for percent in PERCENTS_ETA:
            ETAs.append(int(L**gamma * percent))
        number_of_events[L] = abel_heap.calculate_events(L, ETAs, model)
        
    number_of_events = pd.DataFrame({gamma: events[:-1] for gamma, events in number_of_events.items()}, index=PERCENTS_ETA)
    number_of_events.index.name = "p"
    return number_of_events

In [23]:
t_scaling = 2.75
best_t = 500

LS = [64, 128, 256, 512]
TS = [best_t, int(best_t * t_scaling), int(best_t * t_scaling**2), int(best_t*t_scaling**3)]

#PERCENTS_ETA = [0.15 / 6 , 0.2 / 6, 0.25 / 6, 0.30 / 6]
PERCENTS_ETA = [0.025, 0.033, 0.042, 0.05] # approx of above line

gamma = 2.93
number_of_events_btw = calculate_number_of_events(LS, TS, PERCENTS_ETA, gamma, "determ")

In [24]:
number_of_events_btw

          64     128    256   512
p
0.025  173167  61170  23634  9544
0.033   75863  24653   9117  3684
0.042   30507   9244   3201  1265
0.050   13563   3779   1300   528

In [25]:
print(number_of_events_btw.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &     64  &    128 &    256 &   512 \\
p     &         &        &        &       \\
\midrule
0.025 &  173167 &  61170 &  23634 &  9544 \\
0.033 &   75863 &  24653 &   9117 &  3684 \\
0.042 &   30507 &   9244 &   3201 &  1265 \\
0.050 &   13563 &   3779 &   1300 &   528 \\
\bottomrule
\end{tabular}

In [26]:
gamma = 3.
number_of_events_btw = calculate_number_of_events(LS, TS, PERCENTS_ETA, gamma, "determ")

In [27]:
number_of_events_btw

         64     128   256   512
p
0.025  72492  19542  5910  1841
0.033  24616   5706  1531   458
0.042   7155   1403   347    75
0.050   2346    366    82    10

In [28]:
print(number_of_events_btw.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &    64  &    128 &   256 &   512 \\
p     &        &        &       &       \\
\midrule
0.025 &  72492 &  19542 &  5910 &  1841 \\
0.033 &  24616 &   5706 &  1531 &   458 \\
0.042 &   7155 &   1403 &   347 &    75 \\
0.050 &   2346 &    366 &    82 &    10 \\
\bottomrule
\end{tabular}

# Number of events by a given $p$ and $\gamma$ in Manna model

In [29]:
t_scaling = 2.25
best_t = 300

LS = [64, 128, 256, 512]
TS = [best_t, int(best_t * t_scaling), int(best_t * t_scaling**2), int(best_t*t_scaling**3)]

PERCENTS_ETA = [0.15 , 0.2, 0.25, 0.30]

gamma = 2.67
event_rates_rand = calculate_number_of_events(LS, TS, PERCENTS_ETA, gamma, "rand")

In [30]:
event_rates_rand

         64     128    256    512
p
0.15  108114  70910  47169  32008
0.20   43514  30106  21248  15164
0.25   16146  11885   9042   6802
0.30    5253   4116   3487   2879

In [31]:
print(event_rates_rand.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &     64  &    128 &    256 &    512 \\
p    &         &        &        &        \\
\midrule
0.15 &  108114 &  70910 &  47169 &  32008 \\
0.20 &   43514 &  30106 &  21248 &  15164 \\
0.25 &   16146 &  11885 &   9042 &   6802 \\
0.30 &    5253 &   4116 &   3487 &   2879 \\
\bottomrule
\end{tabular}

In [32]:
gamma = 2.75
event_rates_rand = calculate_number_of_events(LS, TS, PERCENTS_ETA, gamma, "rand")

In [33]:
event_rates_rand

        64     128    256   512
p
0.15  36614  20603  11990  7117
0.20   8569   4598   2787  1674
0.25   1554    839    507   299
0.30    225    106     62    40

In [34]:
print(event_rates_rand.to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &    64  &    128 &    256 &   512 \\
p    &        &        &        &       \\
\midrule
0.15 &  36614 &  20603 &  11990 &  7117 \\
0.20 &   8569 &   4598 &   2787 &  1674 \\
0.25 &   1554 &    839 &    507 &   299 \\
0.30 &    225 &    106 &     62 &    40 \\
\bottomrule
\end{tabular}